<app-menu></app-menu>
<section id="project" class="main-content">
    <div class="container">
        <h5 class="section-title h1">Demo</h5>
           
            {{ array | json }}
    </div>
</section>

