<aside class="sidebar-left-collapse">
  <img src="assets/img/Logo.png" class="img-fluid text-center" alt="logo">
  <div class="sidebar-links">
    <div class="link-yellow">
      <a routerLink="/home">
        <i class="fa fa-home"></i>Principal 
      </a>
      <a routerLink="/demo">
        <i class="fa fa-star"></i>DEMO 
      </a>
    
    </div>

    <div *ngIf="authenticated" class="link-green">
      <a href="" (click)="auth.signOut()">
        <i class="fa fa-sign-out"></i>Salir
      </a>
    </div>
    <ng-template #login>
      <div class="link-green">
        <a routerLink="/login"><i class="fa fa-sign-in"></i>Login</a>
      </div>
    </ng-template>
  </div>
</aside>
